@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #14213d;
    --secondary-color: #fca311;
    --tertiary-color: #e6e6e6;
}

*{
    margin: 0;
    padding: 0;
}
 
body{
    background: linear-gradient(
        to left top,
        #000000,
        var(--primary-color),
        #000000
    );
    box-sizing: border-box;
    color: #ffffff;
    font-family:  "Montserrat", sans-serif; 
}

.cabecalho{
    padding: 2% 0px 0px 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}
 
.cabecalho__menu__link{
    
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--secondary-color);
    text-decoration: none;
    transition: 0.3s;

}

.cabecalho__menu__link:hover{
    color: var(--tertiary-color);
    font-size: 1.625rem;

}

.t1{
    font-size: 2rem;
    color: var(--secondary-color);
}

.apresentacao{
    padding: 7% 15% 9%;
    display: flex;
    gap: 82px;
    align-items: center;
    justify-content: space-between;

}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.apresentacao__conteudo__titulo{
    text-align: justify;
    font-size: 2.69rem;   
}

.apresentacao__conteudo__txt{
    text-align: justify;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-size: 1.69rem;
}

.apresentacao__conteudo__txt__link{
    font-weight: 500;
    color: var(--secondary-color);
    text-decoration: none;
    transition: 0.2s;
}

.apresentacao__conteudo__txt__link:hover{
    color: var(--tertiary-color);
}

.apresentacao__img{
    width: 42%;
}

.apresentacao__btn{

    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__btn__subtitulo{
    font-size: 1.5rem;
    font-weight: 600;
}

.apresentacao__btn__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--secondary-color); 
    color: #2A2A2A;
    font-size: 1.56rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 21px 0;
    width: 378px;
    border-radius: 16px;
    transition: 0.2s;
}

.apresentacao__btn__link:hover{
    background-color:var(--tertiary-color);
    padding: 25px 0px;
    width: 385px;
}

.icon{
    width: 1.75rem;
}

.rodape{
    padding: 1.5rem;
    background-color: #fca311;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.12rem;
    font-weight: 400;
}


.apresentacao__contatos__titulo{
    font-family: "Montserrat", sans-serif;
    font-size:2rem ;
}

.apresentacao__contatos{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-decoration: none;
    color: var(--secondary-color); 
    font-size:1.3rem ;

}

.contato{
    color: var(--secondary-color);
    transition: 0.2s;

}

.contato:hover{
    font-size:1.32rem ;
    color: var(--tertiary-color);
}

.contato__link{
    font-size:1.3rem ;

    text-decoration: none;
    color: var(--tertiary-color);
    transition: 0.2s;
}

.contato__link:hover{

    text-decoration: none;
    color: var(--secondary-color);
}

.apresentacao__cv{
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size:1.3rem ;
}
.apresentacao__cv__titulo{
    margin-top: 2rem;
    color: var(--secondary-color);
}

.apresentacao__txt{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1200px){
    
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
        gap: 28px;
    }
    .cabecalho__menu__link{
        font-size: 1.5rem;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 10%;
    }

    .apresentacao__img{
        width: 50%;
    }

    .apresentacao__conteudo{
        width: auto;
        
    }

    .apresentacao__conteudo__titulo{
        display: flex;
        font-size:1.8rem;  
        flex-direction: column; 
    }
    
    .t1{
        font-size:1.3rem;   
    }

    .apresentacao__conteudo__txt{
        font-size: 1.3rem;
        text-align: justify;
    }

    .apresentacao__btn__link{
        width: 300px;
        gap: 20px;
    }
    
    .rodape{
        
        padding: 1rem;
        margin-top: 30px;
        font-size: 1.2rem;
    }

    .apresentacao__cv{

        font-size:1rem ;

    }


    .apresentacao__contatos__titulo{
        font-size:1.5rem ;
    }
    
    .apresentacao__contatos{
        font-size:0.9rem ;
        gap: 12px;

    
    }


    .apresentacao__btn__link:hover{
        background-color:var(--tertiary-color);
        padding: 25px 0px;
        width: 310px;
    }


    .contato__link{
        font-size:0.9rem ;
    }

    .contato:hover{
        font-size:0.95rem ;
    }
    
}
